.headerCss{
    background-color: rgb(59, 59, 59);
    display: inline;
}

.headerTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 29px;
    font-weight: 100;
    color: rgb(247, 244, 244);
    margin: 2px 8px;
}


.btnHeaderHome{
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 80;
    color: rgb(247, 244, 244);
    outline: none;
    border: none;

}

.btnHeaderHome:hover, .btnHeaderUR:hover{
    background-color: rgb(98, 114, 129);
    outline: none;
    border: none;
}

.borderLabel{
    height: 100%;
    font-size: 33px;
    font-weight: 100;
    color: rgb(168, 185, 185);
}

.headerButtons{
    margin-left: 38.5%;
    display: flex;
    flex-direction: row;
}

.headerButtons1{
    margin-left: 27%;
    display: flex;
    flex-direction: row;
}

.logoutBtn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    font-weight: 350;
    color: rgb(98, 114, 129);
    background-color: rgb(234, 239, 240);
    border: none;
    outline: none;
    margin-top: 1.5%;
    height: 80%;
    border-radius: 10%;

}

.logoutBtn:hover{
    background-color: rgb(225, 230, 231);
    outline: none;
    border: none;
}