.homeDivBtn{
    position: absolute;
    width: 440px;
    height: 260px;
    z-index: 15;
    top: 40%;
    left: 46%;
    margin: -100px 0 0 -150px;
    background-color: rgb(216, 231, 238);
    padding: 3%;
}