.modalBtnLogin{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    font-weight: 350;
    color: rgb(98, 114, 129);
    background-color: rgb(234, 239, 240);
    border: none;
    outline: none;
    float: right; 
    margin-top: 7%;
    border-radius: 10%;
    height: 80%;
    width: 68px;
}

.modalBtnLogin:hover{
    background-color: rgb(225, 230, 231);
    outline: none;
    border: none;
}
